#outerdiv{
    display: none;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.9);
    z-index:100;
    width:100%;
    height:100%;
}
#innerdiv{
    position:absolute;
    width: 100%;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
#bigimg{
    width: 100%;
}
header{
    position: relative;
    width: 100%;
    height: 12rem;
    background: -webkit-gradient(linear, left top, right top, from(#f8b551) , to(#ff9759));
    background: linear-gradient(to right, #f8b551 , #ff9759);
}
header .setIcon{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
header .protraitDiv{
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
header .protraitDiv>.protrait{
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    background: no-repeat center;
    background-size: cover;
    margin: auto;
}
header .protraitDiv>#nickname{
    margin: 0.5rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 10rem;
    font-size: 0.9rem;
}
section{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
section .menu{
    position: relative;
    width: 33%;
    height: 5rem;
    -webkit-box-flex: 0;
    -webkit-flex: none;
       -moz-box-flex: 0;
        -ms-flex: none;
            flex: none;
}

section #menu2 .menuIcon{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 30%;
}
section #menu1 .menuIcon{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 28%;
}
section #menu3 .menuIcon{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 25%;
}
section #menuName{
    font-size: 0.8rem;
    text-align: center;
    margin-top: 3rem;
}
